.navbar {
  background: #bbadad;
  display: flex;
  justify-content: space-around;
  height: 110px;
  margin-left: 10%;
  margin-right: 10%;
}
.logo {
  margin-top: -50px;
}
.text-description {
  text-align: center;
  font-size: 20px;
  color: white;
}
